<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <base target="_parent" />

    {% if site.environment == "development" %}
    <script src="assets/jquery.min.js"></script>
    <script src="assets/reconnecting-websocket.min.js"></script>
    <script src="assets/ace/ace.js"></script>
    <script src="assets/ace/theme-clouds.js"></script>
    <script src="assets/ace/mode-hext.js"></script>
    <script src="assets/ace/mode-html.js"></script>
    <script src="assets/semantic/semantic.min.js"></script>
    <script src="assets/script.js"></script>

    <link rel="stylesheet" href="assets/semantic/semantic.min.css">
    <link rel="stylesheet" href="assets/style.css">
    {% else %}
    <link rel="stylesheet" href="assets/combined.min.css">
    <script src="assets/combined.min.js"></script>
    {% endif %}

  </head>
  <body>

    <main class="barebones page-{{ page.id }}">
{{ content }}
    </main>

  </body>
</html>

