<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="canonical" href="http://hext.thomastrapp.com/libhext-documentation" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <base target="_parent" />

    <!--script src="assets/jquery.min.js"></script>
    <script src="assets/ace/ace.min.js"></script>
    <script src="assets/ace/theme-clouds.min.js"></script>
    <script src="assets/ace/mode-hext.min.js"></script>
    <script src="assets/ace/mode-html.min.js"></script>
    <script src="assets/semantic/semantic.min.js"></script>
    <script src="assets/script.js"></script>

    <link rel="stylesheet" href="assets/semantic/semantic.min.css">
    <link rel="stylesheet" href="assets/style.css"-->

    <script src="assets/combined.min.js"></script>
    <link rel="stylesheet" href="assets/combined.min.css">
  </head>
  <body>

    <main class="barebones page-{{ page.id }}">
{{ content }}
    </main>

  </body>
</html>

