---
layout: default
title: "Hext &mdash; Download"
desc: "Download, build and install htmlext and language bindings for Node.js, PHP, Python, Ruby"
id: download
---

<div class="three wide column">
  <div class="ui sticky">
    <div class="jump-table-spacer"></div>
    <h4>Up & Running</h4>
    <div class="ui secondary vertical scrollspy pointing fluid menu jump-table">
      <a class="active item" href="#pip-install-hext">
        Using Pip
      </a>
      <a class="item" href="#npm-install-hext">
        Using NPM
      </a>
      <a class="item" href="#building-hext">
        Building Hext
      </a>
      <a class="item" href="#using-htmlext">
        Using htmlext
      </a>
      <a class="item" href="#using-libhext">
        Using libhext
      </a>
    </div>
    <h4>Language Bindings</h4>
    <div class="ui secondary vertical scrollspy pointing fluid menu jump-table">
      <a class="item" href="#building-nodejs-hext">
        Node.js
      </a>
      <a class="item" href="#building-python-hext">
        Python
      </a>
      <a class="item" href="#building-ruby-hext">
        Ruby
      </a>
      <a class="item" href="#building-php-hext">
        PHP
      </a>
    </div>
  </div>
</div>

<div class="thirteen wide column">
  <a class="scrollspy anchor" id="pip-install-hext"></a>
  <h1 class="ui header">Installing Hext through Pip</h1>
  <p>
    The <a href="#python-example-usage">Hext language bindings for Python</a> and the
    <a href="#using-htmlext">htmlext command-line utility</a>
    are installable through pip:
  </p>
  <pre class="ace-static-hl"><code>pip install hext</code></pre>
  <p style="padding-top:10px">
    Available for all flavors of Linux (x86_64) and Mac OS X ≥ 10.11.
    See <a href="https://pypi.org/project/hext/">https://pypi.org/project/hext/</a>.
  </p>
  <a class="scrollspy anchor" id="npm-install-hext"></a>
  <h1 class="ui header">Installing Hext through NPM</h1>
  <p>
    The <a href="#nodejs-example-usage">Hext language bindings for Node</a> are installable through npm:
  </p>
  <pre class="ace-static-hl"><code>npm install hext</code></pre>
  <p style="padding-top:10px">
    Available for all flavors of Linux (x86_64) and Mac OS X ≥ 10.11.
    See <a href="https://www.npmjs.com/package/hext">https://www.npmjs.com/package/hext</a>.
  </p>
  <a class="scrollspy anchor" id="building-hext"></a>
  <h1 class="ui header">Building Hext from source</h1>
  <div class="ui two column very relaxed stackable grid">
    <div class="column">
      <h3>On a Debian-based distribution</h3>
      <p class="bottom-attached">
        Install the following packages:
      </p>
      <ul class="ui list">
        <li>g++ ≥7.3 or clang ≥6.0</li>
        <li>cmake ≥3.8</li>
        <li>libboost-dev ≥1.55</li>
        <li>libboost-regex-dev ≥1.55</li>
        <li>libboost-program-options-dev ≥1.55</li>
        <li>libgumbo-dev ≥0.10.1</li>
        <li>rapidjson-dev ≥1.1.0</li>
      </ul>
    </div>
    <div class="column">
      <h3>On other systems (*nix, OS X, Win)</h3>
      <p class="bottom-attached">
        You will need:
      </p>
      <ul class="ui list">
        <li>g++ ≥7.3 or clang ≥6.0</li>
        <li><a href="https://cmake.org/">CMake</a> ≥3.8</li>
        <li><a href="http://www.boost.org/">Boost</a> ≥1.55,
            specifically Boost.Regex and Boost.Program_options</li>
        <li>libtool and autoconf for building
            <a href="https://github.com/google/gumbo-parser">Gumbo</a></li>
        <li>
            Build and install <a href="https://github.com/google/gumbo-parser">Gumbo</a>
            (<a href="https://github.com/google/gumbo-parser/archive/v0.10.1.tar.gz">v0.10.1</a>)
            </li>
        <li>
            <a href="https://github.com/Tencent/rapidjson">RapidJSON</a>,
            which is a header only library
            (<a href="https://github.com/Tencent/rapidjson/archive/v1.1.0.tar.gz">v1.1.0</a>)
            </li>
      </ul>
    </div>
  </div>
  <div class="ui doubling top aligned two column grid">
    <div class="six wide column">
      <p>
        Download and extract the latest Hext release and navigate to the
        top-level build directory.
        Then call cmake and make to build the project.<br>
        If all went well you'll find the htmlext binary in the current directory.
      </p>
    </div>
    <div class="ten wide column">
      <pre class="ace-static-hl"><code>{%include build-hext.text%}</code></pre>
    </div>
    <div class="eight wide column">
      <p>
        If you wish to install Hext on your system, run <i>make install</i> as root.
        This will install the htmlext binary, libhext's header files, the
        libhext library and package configuration files for CMake.<br>
        Run <i>ldconfig</i> so your linker can find the newly installed libhext.
      </p>
    </div>
    <div class="eight wide column">
      <pre class="ace-static-hl"><code>{%include install-hext.sh%}</code></pre>
    </div>
    <div class="sixteen wide column">
      <p>
        If you are interested in Hext and in need of a binary package for your
        system or language, please raise an
        <a href="https://github.com/thomastrapp/hext/issues">issue</a> on Github.
      </p>
    </div>
  </div>
  <a class="scrollspy anchor" id="using-htmlext"></a>
  <h1 class="ui header">Using htmlext</h1>
  <div class="ui doubling top aligned two column grid">
    <div class="six wide column">
      <p class="operator-list">
        <b>htmlext</b> is a command line utility that accepts Hext snippets,
        matches them against HTML files and outputs JSON.
      </p>
      <p>
        Every rule tree match gets its own JSON object containing the captured
        name-value pairs.
      </p>
      <p class="operator-list">
        <b>htmlext</b> detects whether its output is written to a terminal or
        to a pipe. In the former case, every JSON object is pretty-printed, in
        the latter the output is compacted, printing one object on each line.
        You can force either behavior by using <b>--pretty</b> or <b>--compact</b>.
      </p>
      <p class="operator-list">
        Another notable option is <b>--filter&nbsp;&lt;key&gt;</b>, which will
        print nothing but the value of every capture whose name equals
        <b>&lt;key&gt;</b>, one per line.
      </p>
    </div>
    <div class="ten wide column">
      <pre class="ace-static-hl"><code>{%include htmlext-help.text%}</code></pre>
    </div>
  </div>
  <a class="anchor" id="examples"></a>
  <h3 class="ui header">htmlext: Examples</h3>
  <div class="ui doubling top aligned two column grid">
    <div class="nine wide column">
      <pre class="ace-static-hl"><code>{%include htmlext-reddit.sh%}</code></pre>
    </div>
    <div class="seven wide column">
      <pre class="ace-static-hl"><code>{%include htmlext-links.sh%}</code></pre>
    </div>
    <div class="sixteen wide column">
      <p class="operator-list">
        Check out <a href="https://stedolan.github.io/jq/">jq</a>,
        an indispensable tool when dealing with JSON in the shell.
      </p>
    </div>
  </div>
  <a class="scrollspy anchor" id="using-libhext"></a>
  <h1 class="ui header">Using libhext in a CMake project</h1>
  <div class="ui doubling top aligned two column grid">
    <div class="seven wide column">
      <p>
        After <a href="#building-hext">building and installing Hext</a> you can use
        CMake's own FindPackage to add libhext to your project and you should be good to go.
      </p>
    </div>
    <div class="nine wide column">
      <pre class="ace-static-hl"><code>{%include libhext-cmake-example.sh%}</code></pre>
    </div>
    <div style="padding-top:0" class="sixteen wide column">
      <p>
        Go to the
        <a href="/libhext-documentation">main page of libhext's documentation</a> for an
        introduction to libhext.
      </p>
    </div>
  </div>
  <a class="scrollspy anchor" id="building-nodejs-hext"></a>
  <h1 class="ui header">Building Hext for Node.js</h1>
  <div class="ui doubling top aligned two column grid">
    <div class="seven wide column">
      <u>Note:</u> Hext for Node can be installed through <a href="#npm-install-hext">npm</a>, i.e:
    </div>
    <div class="nine wide column">
      <pre class="ace-static-hl"><code>npm install hext</code></pre>
    </div>
  </div>
  <div class="ui doubling top aligned two column grid">
    <div class="sixteen wide column">
      <p>
        First <a href="#building-hext">build and install Hext</a>.
        Then, install nodejs (v8, v10, v11 or v12), nodejs-dev (or libnode-dev)
        and <a href="https://www.npmjs.com/">npm</a>.
      </p>
    </div>
  </div>
  <div class="ui doubling top aligned two column grid">
    <div class="seven wide column">
      <p class="bottom-attached">
        The Node.js extension is included in the Hext project.
        To build the extension you will need two packages which
        are available through the Node.js package manager:
      </p>
      <ul class="ui list">
        <li>
          <a href="https://github.com/nodejs/nan">nan</a>:
          Native Abstractions for Node.js
        </li>
        <li>
          <a href="https://github.com/cmake-js/cmake-js">CMake.js</a>:
          A Node.js/io.js native addon build tool
        </li>
      </ul>
    </div>
    <div class="nine wide column">
      <pre class="ace-static-hl"><code>{%include build-hext-node.sh%}</code></pre>
    </div>
  </div>
  <div class="ui doubling top aligned two column grid">
    <div class="seven wide column">
      <p class="operator-list">
        To use the extension in another project you can let npm do all the work.
      </p>
    </div>
    <div class="nine wide column">
      <pre class="ace-static-hl"><code>{%include use-hext-node.sh%}</code></pre>
    </div>
  </div>
  <a class="anchor" id="nodejs-example-usage"></a>
  <h3 class="ui header">Node.js: Example Usage</h3>
  <div class="ui doubling top aligned two column grid">
    <div class="sixteen wide column">
      This example JavaScript program demonstrates everything you can do with
      Hext's Node.js extension as of yet.
      Also check out
<a href="https://github.com/thomastrapp/hext/blob/master/libhext/bindings/nodejs/htmlext.js">htmlext.js</a>
      which is a stripped down JavaScript port of the htmlext command line
      utility.
    </div>
    <div class="sixteen wide column">
      <pre class="ace-static-hl"><code>{%include using-hext-node.javascript%}</code></pre>
    </div>
  </div>
  <a class="scrollspy anchor" id="building-python-hext"></a>
  <h1 class="ui header">Building Hext for Python</h1>
  <div class="ui doubling top aligned two column grid">
    <div class="seven wide column">
      <u>Note:</u> Hext for Python can be installed through <a href="#pip-install-hext">pip</a>, i.e:
    </div>
    <div class="nine wide column">
      <pre class="ace-static-hl"><code>pip install hext</code></pre>
    </div>
  </div>
  <div class="ui doubling top aligned two column grid">
    <div class="sixteen wide column">
      <p>
        First <a href="#building-hext">build and install Hext</a>.
        Then, install python, python-dev (both version ≥2.7) and
        <a href="http://www.swig.org/">swig</a> (version ≥3.0).
      </p>
    </div>
  </div>
  <div class="ui doubling top aligned two column grid">
    <div class="seven wide column">
      <p>
        The Python extension is included in the Hext project.
        Navigate to its build directory. Call cmake and make to build
        the extension.
      </p>
    </div>
    <div class="nine wide column">
      <pre class="ace-static-hl"><code>{%include build-hext-python.sh%}</code></pre>
    </div>
  </div>
  <div class="ui doubling top aligned two column grid">
    <div class="seven wide column">
      <p class="operator-list">
        The Hext Python extension is comprised of two files: <b>hext.py</b> and
        a shared library called <b>_hext.so</b>.
        Unfortunately, there's no automated way of installing the extension yet, so
        you'll have to take care of this part yourself :)<br>
        Running <b>python -m site</b> will show you all the locations Python
        will check in search of an extension. Use the directory given by
        <b>python -m site --user-site</b> to install the extension for the
        current user only.
      </p>
    </div>
    <div class="nine wide column">
      <pre class="ace-static-hl"><code>{%include install-hext-python.sh%}</code></pre>
    </div>
  </div>
  <a class="anchor" id="python-example-usage"></a>
  <h3 class="ui header">Python: Example Usage</h3>
  <div class="ui doubling top aligned two column grid">
    <div class="sixteen wide column">
      This Python script demonstrates everything you can do with Hext's Python
      extension as of yet.
      Also check out
<a href="https://github.com/thomastrapp/hext/blob/master/libhext/bindings/python/htmlext.py">htmlext.py</a>
      which is a stripped down Python port of the htmlext command line utility.
    </div>
    <div class="sixteen wide column">
      <pre class="ace-static-hl"><code>{%include using-hext-python.python%}</code></pre>
    </div>
    <div class="sixteen wide column">
      <a href="https://scrapy.org/">Scrapy</a> is one of the most prolific tools when it
      comes to crawling the web. For an example on how to use Hext with Scrapy, checkout <a href="https://github.com/thomastrapp/hext-scrapy-quotesbot">github.com/thomastrapp/hext-scrapy-quotesbot</a>.
    </div>
  </div>
  <a class="scrollspy anchor" id="building-ruby-hext"></a>
  <h1 class="ui header">Building Hext for Ruby</h1>
  <div class="ui doubling top aligned two column grid">
    <div class="sixteen wide column">
      <p>
        First <a href="#building-hext">build and install Hext</a>.
        Then, install ruby, ruby-dev (both version ≥2.1) and
        <a href="http://www.swig.org/">swig</a> (version ≥3.0).
      </p>
    </div>
  </div>
  <div class="ui doubling top aligned two column grid">
    <div class="seven wide column">
      <p>
        The Ruby extension is included in the Hext project.
        Navigate to its build directory. Call cmake and make to build
        the extension.
      </p>
    </div>
    <div class="nine wide column">
      <pre class="ace-static-hl"><code>{%include build-hext-ruby.sh%}</code></pre>
    </div>
  </div>
  <div class="ui doubling top aligned two column grid">
    <div class="seven wide column">
      <p class="operator-list">
        The Hext Ruby extension consists of a single shared library called
        <b>hext.so</b>.
        Unfortunately, there's no automated way of installing the extension yet, so
        you'll have to take care of this part yourself :)<br>
        Running <b>ruby -e 'puts $LOAD_PATH'</b> will show you all the locations
        Ruby will check in search of an extension. Copying the shared library
        to any one of these locations should suffice.
      </p>
    </div>
    <div class="nine wide column">
      <pre class="ace-static-hl"><code>{%include install-hext-ruby.sh%}</code></pre>
    </div>
  </div>
  <a class="anchor" id="ruby-example-usage"></a>
  <h3 class="ui header">Ruby: Example Usage</h3>
  <div class="ui doubling top aligned two column grid">
    <div class="sixteen wide column">
      This Ruby script demonstrates everything you can do with Hext's Ruby
      extension as of yet.
      Also check out
<a href="https://github.com/thomastrapp/hext/blob/master/libhext/bindings/ruby/htmlext.rb">htmlext.rb</a>
      which is a stripped down Ruby port of the htmlext command line utility.
    </div>
    <div class="sixteen wide column">
      <pre class="ace-static-hl"><code>{%include using-hext-ruby.ruby%}</code></pre>
    </div>
  </div>
  <a class="scrollspy anchor" id="building-php-hext"></a>
  <h1 class="ui header">Building Hext for PHP</h1>
  <div class="ui doubling top aligned two column grid">
    <div class="sixteen wide column">
      <p>
        First <a href="#building-hext">build and install Hext</a>.
        Then, install php-cli (or php) , php-dev (both version ≥7.0) and
        <a href="http://www.swig.org/">swig</a> (version ≥3.0.11).
      </p>
    </div>
  </div>
  <div class="ui doubling top aligned two column grid">
    <div class="seven wide column">
      <p>
        The PHP extension is included in the Hext project.
        Navigate to its build directory. Call cmake and make to build
        the extension.
      </p>
    </div>
    <div class="nine wide column">
      <pre class="ace-static-hl"><code>{%include build-hext-php.sh%}</code></pre>
    </div>
  </div>
  <div class="ui doubling top aligned two column grid">
    <div class="sixteen wide column">
      <p class="operator-list bottom-attached">
        The Hext PHP extension is comprised of two files: <b>hext.php</b> and
        a shared library called <b>hext.so</b>.
        In typical PHP setups the
        <a href="http://php.net/manual/en/function.dl.php">dl()</a> function
        which loads dynamic libraries at runtime is disabled. Therefore
        in most cases the extension must be loaded at PHP's startup. There are
        two ways to do this:
      </p>
      <ul class="ui list">
        <li class="item"><b>php.ini</b>: Add the line "extension=/path/to/hext.so"
                         to your php.ini file, ideally below the section called
                         "Dynamic Extensions".</li>
        <li class="item"><b>PHP CLI's -d parameter:</b> Run PHP with the
                         argument "-d extension=/path/to/hext.so".</li>
      </ul>
      <p class="operator-list">
        And lastly, PHP needs to be able to find <b>hext.php</b>. This file may
        be anywhere in your
        <a href="http://php.net/manual/en/ini.core.php#ini.include-path">include_path</a>.
      </p>
    </div>
  </div>
  <a class="anchor" id="php-example-usage"></a>
  <h3 class="ui header">PHP: Example Usage</h3>
  <div class="ui doubling top aligned two column grid">
    <div class="sixteen wide column">
      This PHP script demonstrates everything you can do with Hext's PHP
      extension as of yet.
      Also check out
<a href="https://github.com/thomastrapp/hext/blob/master/libhext/bindings/php/htmlext.php">htmlext.php</a>
      which is a stripped down PHP port of the htmlext command line utility.
    </div>
    <div class="sixteen wide column">
      <pre class="ace-static-hl"><code>{%include using-hext-php.php%}</code></pre>
    </div>
  </div>
</div>
