---
layout: default
title: "Hext &mdash; Download"
desc: "Get Hext for JavaScript, Node, Python, Ruby and PHP"
id: download
---

<div class="three wide column">
  <div class="ui sticky">
    <div class="jump-table-spacer"></div>
    <div class="ui secondary vertical scrollspy pointing fluid menu jump-table">
      <a class="active item" href="#get-hext">
        Install Methods
      </a>
      <a class="item" href="#htmlext">
        Command Line
      </a>
      <a class="item" href="#hext-for-python">
        Python
      </a>
      <a class="item" href="#hext-for-node">
        Node
      </a>
      <a class="item" href="#hext-for-javascript">
        JavaScript
      </a>
      <a class="item" href="#hext-for-ruby">
        Ruby
      </a>
      <a class="item" href="#hext-for-php">
        PHP
      </a>
      <a class="item" href="#build-hext-from-source">
        Build Source
      </a>
      <a class="item" href="#libhext">
        C++
      </a>
    </div>
  </div>
</div>

<div class="thirteen wide column">

  {%include download/get-hext.html%}
  {%include download/htmlext.html%}
  {%include download/python.html%}
  {%include download/node.html%}
  {%include download/javascript.html%}
  {%include download/ruby.html%}
  {%include download/php.html%}
  {%include download/build-from-source.html%}
  {%include download/libhext.html%}

</div>
