---
layout: default
title: "Hext &mdash; libhext C++ library overview"
id: libhext-overview
desc: "Implementation details of the libhext C++ library"
---

<div class="ui grid">
  <div class="sixteen wide column">
    <h1>libhext C++ library overview</h1>
    <p>
      Libhext is the C++ library that is the building block of Hext.
      Hext is a domain-specific language for extracting structured data from HTML
      documents. The language itself is explained in its
      <a href="/documentation">documentation</a>.
      Also, you can try hext from the comfort of your browser <a href="/">here</a>.<br>
      libhext's code documentation is available <a href="/libhext-documentation">here</a>.
    </p>
    <h3 class="bottom-attached">
      There are two ways to use libhext:
    </h3>
    <ul>
      <li>One is by using
          <a href="/libhext-documentation/namespacehext.html#a2871f049cdcd9735bae88da6c993e5a2">
          hext::ParseHext</a>, which parses a string containing Hext and returns
          an object of type
          <a href="/libhext-documentation/classhext_1_1Rule.html">
          hext::Rule</a>. Rules match and capture HTML elements.
          </li>
      <li>The other way is by constructing a hext::Rule
          manually. This allows
          building your own matching criteria (by extending
          <a href="/libhext-documentation/classhext_1_1Match.html">
          hext::Match</a>)
          and extraction mechanisms (by extending
          <a href="/libhext-documentation/classhext_1_1Capture.html">
          hext::Capture</a>). Take a look at <a href="#cpp-doc-section-overview">2. Overview of libhext</a> and
          <a href="#cpp-doc-section-building-rules">3. Building rules manually</a>.
          </li>
    </ul>
    <a name="using-parsehext"></a>
    <h3>1. Using hext::ParseHext</h3>
    <p>
      If Hext offers all the features you require, this is the way to go.
      The following example constructs a simple rule that extracts links
      containing images from HTML documents.
    </p>
    <pre class="ace-static-hl"><code>{%include libhext-parsehext-nested.c_cpp%}</code></pre>
    <a name="cpp-doc-section-overview"></a>
    <h3>2. Overview of libhext</h3>
    <p class="bottom-attached">
      Before diving into an example, let's introduce some components that
      are exposed by libhext's public API.<br>
      If you are in a rush take a look at
      <a href="#cpp-doc-section-extendable-types">4. Overview of libhext's extendable types</a> at the bottom of this page.
    </p>
    <ul>
      <li><a href="/libhext-documentation/classhext_1_1Rule.html">
          <b>hext::Rule</b></a>:
          As seen above, Rules are at the center of it all. Rules contain all
          the information that is required to match and capture data.
          Rules are trees: A Rule may have children and siblings, which
          themselves are Rules. Each Rule contains a vector of hext::Match and
          hext::Capture, these are responsible for matching and capturing
          individual HTML elements.<br>
          Rule::extract expects an object of type hext::Html and returns a
          <a href="/libhext-documentation/namespacehext.html#abca4e3b5f19e70e13c69ec771aabb75a">
          hext::Result</a>, which is a type alias for
          std::vector&lt;std::multimap&lt;std::string, std::string&gt;&gt;.
          Each multimap contains a complete Rule tree match, where each string
          pair contains the name and value returned by a Capture.</li>
      <li><a href="/libhext-documentation/classhext_1_1Html.html">
          <b>hext::Html</b></a>: hext::Html's constructor expects a const char *
          containing UTF-8 encoded HTML. hext::Html does not copy the buffer,
          therefore the buffer must outlive the object.
          </li>
      <li><a href="/libhext-documentation/classhext_1_1Match.html">
          <b>hext::Match</b></a>:
          This is the common base class for all matching mechanisms in Hext,
          with the exception of HTML tags, which are matched by the rule itself.
          You can create your own by inheriting Match and overriding
          <a href="/libhext-documentation/classhext_1_1Match.html#ab7d5a70bb35cdf1d3a0346b3229e9f12">
          Match::matches</a>.
          Rules accept Matches via
          <a href="/libhext-documentation/classhext_1_1Rule.html#ae8217b026c122eb832dfc66154878bd9">
          Rule::append_match.</a><br>
          The following subclasses of Match are available out of the box:
          <a href="/libhext-documentation/classhext_1_1AttributeCountMatch.html">
          AttributeCountMatch</a>,
          <a href="/libhext-documentation/classhext_1_1AttributeMatch.html">
          AttributeMatch</a>,
          <a href="/libhext-documentation/classhext_1_1ChildCountMatch.html">
          ChildCountMatch</a>,
          <a href="/libhext-documentation/classhext_1_1FunctionMatch.html">
          FunctionMatch</a>,
          <a href="/libhext-documentation/classhext_1_1FunctionValueMatch.html">
          FunctionValueMatch</a>,
          <a href="/libhext-documentation/classhext_1_1NegateMatch.html">
          NegateMatch</a>,
          <a href="/libhext-documentation/classhext_1_1NthChildMatch.html">
          NthChildMatch</a> and
          <a href="/libhext-documentation/classhext_1_1OnlyChildMatch.html">
          OnlyChildMatch</a>.</li>
      <li><a href="/libhext-documentation/classhext_1_1Capture.html">
          <b>hext::Capture</b></a>:
          This is the common base class for all capture mechanisms in Hext.
          As with hext::Match you can create your own by inheriting Capture.
          Rules accept Captures via
          <a href="/libhext-documentation/classhext_1_1Rule.html#abdbea21671fab7a03cd3addf8cb26224">
          Rule::append_capture</a>.<br>
          Captures may extract one name-value pair. A capture's name does not
          have to be unique.
          There are two subclasses of hext::Capture available out of the box:
          <a href="/libhext-documentation/classhext_1_1AttributeCapture.html">
          AttributeCapture</a>, which extracts content from an HTML element's
          attribute and
          <a href="/libhext-documentation/classhext_1_1Capture.html">
          FunctionCapture</a>, which captures the result of a function that
          accepts HTML elements as its argument.</li>
      <li><a href="/libhext-documentation/classhext_1_1StringPipe.html">
          <b>hext::StringPipe</b></a>:
          Both AttributeCapture and FunctionCapture may be given a StringPipe.
          StringPipes transform a string before it is captured. For example,
          there is
          <a href="/libhext-documentation/classhext_1_1CollapseWsPipe.html">
          hext::CollapseWsPipe</a>
          which trims and collapses whitespace in a string, or
          <a href="/libhext-documentation/classhext_1_1RegexPipe.html">
          hext::RegexPipe</a> which filters a string according to a regular
          expression. StringPipes are linked lists and may therefore be chained.
          <br>The following subclasses of StringPipe are available out of the
          box:
          <a href="/libhext-documentation/classhext_1_1AppendPipe.html">
          AppendPipe</a>,
          <a href="/libhext-documentation/classhext_1_1CasePipe.html">
          CasePipe</a>,
          <a href="/libhext-documentation/classhext_1_1CollapseWsPipe.html">
          CollapseWsPipe</a>,
          <a href="/libhext-documentation/classhext_1_1PrependPipe.html">
          PrependPipe</a>,
          <a href="/libhext-documentation/classhext_1_1RegexPipe.html">
          RegexPipe</a>,
          <a href="/libhext-documentation/classhext_1_1RegexReplacePipe.html">
          RegexReplacePipe</a> and
          <a href="/libhext-documentation/classhext_1_1TrimPipe.html">
          TrimPipe</a>.</li>
      <li><a href="/libhext-documentation/classhext_1_1ValueTest.html">
          <b>hext::ValueTest</b></a>: ValueTests are an easy way to match HTML
          elements by the contents of an attribute or by the result of a
          built-in function. You can create your own by inheriting
          ValueTest and overriding
          <a href="/libhext-documentation/classhext_1_1ValueTest.html#a3015d285de5e887571362501efc37724">
          ValueTest::test</a>.
          ValueTests are passed to the constructor of FunctionValueMatch or
          AttributeMatch.<br>
          The following subclasses of ValueTest are available out of the box:
          <a href="/libhext-documentation/classhext_1_1BeginsWithTest.html">
          BeginsWithTest</a>,
          <a href="/libhext-documentation/classhext_1_1ContainsTest.html">
          ContainsTest</a>,
          <a href="/libhext-documentation/classhext_1_1ContainsWordsTest.html">
          ContainsWordsTest</a>,
          <a href="/libhext-documentation/classhext_1_1EndsWithTest.html">
          EndsWithTest</a>,
          <a href="/libhext-documentation/classhext_1_1EqualsTest.html">
          EqualsTest</a>,
          <a href="/libhext-documentation/classhext_1_1NegateTest.html">
          NegateTest</a>,
          <a href="/libhext-documentation/classhext_1_1RegexTest.html">
          RegexTest</a>.</li>
      <li><a href="/libhext-documentation/classhext_1_1AttributeMatch.html">
          <b>hext::AttributeMatch</b></a>:
          An AttributeMatch is a Match that decides whether an HTML element
          matches by looking at one specific HTML attribute. The actual
          comparison is delegated to a hext::ValueTest.
          Can not be inherited (use composition).</li>
      <li><a href="/libhext-documentation/classhext_1_1FunctionValueMatch.html">
          <b>hext::FunctionValueMatch</b></a>:
          A FunctionValueMatch calls a function and passes the result to a
          ValueTest. The type of function is a
          <a href="/libhext-documentation/namespacehext.html#a5da82824b39cd1cadf23304cbb7d0e8e">
          hext::CaptureFunction</a>, which is a
          typedef for std::function&lt;std::string (const GumboNode *)&gt;: A
          function that accepts a GumboNode and returns a std::string.
          Libhext exposes
          <a href="https://github.com/google/gumbo-parser">Gumbo</a>,
          an HTML5 parsing library written in C99. This is where the GumboNode
          is coming from. Gumbo is an incredible piece of work and very well
          <a href="https://github.com/google/gumbo-parser/blob/master/src/gumbo.h">
          documented</a>.<br>
          Libhext comes with three <a href="/libhext-documentation/Builtins_8h.html">
          built-in functions</a>: TextBuiltin, InnerHtmlBuiltin and
          StripTagsBuiltin.</li>
      <li><a href="/libhext-documentation/classhext_1_1Cloneable.html">
          <b>hext::Cloneable</b></a>:
          Cloneable is a
          <a href="https://en.wikipedia.org/wiki/Curiously_recurring_template_pattern">
          CRTP</a> that provides a clone function which calls the copy constructor
          of its subclass.</li>
      <li><a href="/libhext-documentation/namespacehext.html#a5a0dc11dee920f412f90bc68be1cc010">
          <b>hext::HtmlTag</b></a>:
          An enum containing all valid HTML tags, plus HtmlTag::ANY, which
          matches any HTML tag (translates to &lt;* /&gt; in Hext).</li>
    </ul>
    <a name="cpp-doc-section-building-rules"></a>
    <h3>3. Building rules manually &mdash; An example</h3>
    <p>
      Hext offers ways to match
      <a href="/documentation#match-operators">HTML attributes</a>,
      <a href="/documentation#element-traits">element traits</a>
      and the result of
      <a href="/documentation#builtin-functions">built-in functions</a>
      against a regex or a string literal. But lets just say for the sake of
      this example that you have this huge database of filenames, and you only
      want to match &lt;img&gt; elements whose src attribute contains one of
      these filenames.
    </p>
    <pre class="ace-static-hl"><code>{%include libhext-extended-matching.c_cpp%}</code></pre>
    <a name="cpp-doc-section-extendable-types"></a>
    <h3>4. Overview of libhext's extendable types</h3>
    <p>
      The following four abstract base classes can be extended to build your
      own matching and extraction mechanisms.
    </p>
    <table class="ui striped table">
      <thead>
        <tr>
          <th>Type</th>
          <th>Gets received by</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="top aligned">
            <a href="/libhext-documentation/classhext_1_1Match.html">hext::Match</a><br>
            A Match decides whether a single HTML element is matching.
          </td>
          <td>
<ul class="ui list">
  <li>
    <div style="color:#008000">// Move a unique_ptr containing your Match
    type into a Rule:</div>
    <a href="/libhext-documentation/classhext_1_1Rule.html#a01e3a1daefa24c5e71b25ae31edba6a6">
    Rule&amp; &nbsp;&nbsp;Rule::append_match(unique_ptr&lt;Match&gt;
    match);</a>
  </li>
  <li>
    <div style="color:#008000">// Let a Rule construct and append your Match
    type:</div>
    <a href="/libhext-documentation/classhext_1_1Rule.html#abdbea21671fab7a03cd3addf8cb26224">
    Rule&amp; &nbsp;&nbsp;Rule::append_match&lt;Match&gt;(Args&amp;&amp;...
    arg);</a>
  </li>
</ul>
          </td>
        </tr>
        <tr>
          <td class="top aligned">
            <a href="/libhext-documentation/classhext_1_1Capture.html">hext::Capture</a><br>
            A Capture extracts one key-value pair from a single HTML element.
          </td>
          <td>
<ul class="ui list">
  <li>
    <div style="color:#008000">// Move a unique_ptr containing your Capture
    type into a Rule:</div>
    <a href="/libhext-documentation/classhext_1_1Rule.html#a2857fe8f2fe209952d51278b580374be">
      Rule&amp; &nbsp;&nbsp;Rule::append_capture(unique_ptr&lt;Capture&gt;
      cap);</a>
  </li>
  <li>
    <div style="color:#008000">// Let a Rule construct and append your Capture
    type:</div>
    <a href="/libhext-documentation/classhext_1_1Rule.html#abdbea21671fab7a03cd3addf8cb26224">
      Rule&amp; &nbsp;&nbsp;Rule::append_capture&lt;Capture&gt;(Args&amp;&amp;...
      arg);</a>
  </li>
</ul>
          </td>
        </tr>
        <tr>
          <td class="top aligned">
            <a href="/libhext-documentation/classhext_1_1ValueTest.html">hext::ValueTest</a><br>
            A ValueTests checks whether a string has a certain content.
          </td>
          <td>
<ul class="ui list">
  <li>
    <div style="color:#008000">// Construct an AttributeMatch with your
    ValueTest type:</div>
    <a href="/libhext-documentation/classhext_1_1AttributeMatch.html#ae114a358ef6f5e8a0573f299aae5beaa">
      AttributeMatch( ... , unique_ptr&lt;ValueTest&gt; value_test);</a>
  </li>
  <li>
    <div style="color:#008000">// Construct a FunctionValueMatch with your
    ValueTest type:</div>
    <a href="/libhext-documentation/classhext_1_1FunctionValueMatch.html#a4cfb904b845b872c1de7e124a3bc80ef">
      FunctionValueMatch( ... , unique_ptr&lt;ValueTest&gt; value_test);</a>
  </li>
</ul>
          </td>
        </tr>
        <tr>
          <td class="top aligned">
  <a href="/libhext-documentation/classhext_1_1StringPipe.html">
    hext::StringPipe</a>
  <br>
  A StringPipe is a linked list that transforms strings.
          </td>
          <td>
<ul class="ui list">
  <li>
    <div style="color:#008000">// Construct an AttributeCapture with your
    StringPipe type:</div>
    <a href="/libhext-documentation/classhext_1_1AttributeCapture.html#a520f4cbbeee5712c262738839f7c3349">
      AttributeCapture( ... , unique_ptr&lt;StringPipe&gt; pipe);</a>
  </li>
  <li>
    <div style="color:#008000">// Construct a FunctionCapture with your
    StringPipe type:</div>
    <a href="/libhext-documentation/classhext_1_1FunctionCapture.html#a348db437596f7ab3b8b40005ce0e26f5">
      FunctionCapture( ... , unique_ptr&lt;StringPipe&gt; pipe);</a>
  </li>
</ul>
          </td>
        </tr>
      </tbody>
    </table>
    <p>
      <u>Note:</u> When inheriting these types you'll need to override the pure
      virtual function "clone". The easiest way to do this is by inheriting
      <a href="/libhext-documentation/classhext_1_1Cloneable.html">
      hext::Cloneable</a>. Cloneable is a
      <a href="https://en.wikipedia.org/wiki/Curiously_recurring_template_pattern">
      CRTP</a> that provides a clone function which calls the copy constructor
      of its subclass. For example, to extend hext::Match you can inherit
      hext::Cloneable&lt;YourType, hext::Match&gt; instead of inheriting
      hext::Match directly.
    </p>
  </div>
</div>
