<a class="scrollspy anchor" id="hext-for-javascript"></a>
<h1 class="ui header">Hext for JavaScript</h1>
<div class="ui doubling top aligned two column grid">
  <div class="sixteen wide column">
    Hext for JavaScript is available on a CDN.
    See the examples below for usage instructions.
  </div>
  <div class="sixteen wide column">
    <pre class="ace-static-hl"><code>{%include using-hext.js.html%}</code></pre>
  </div>
  <div class="sixteen wide column">
    Hext for JavaScript is also available as hext.mjs, which is a <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide/Modules">JavaScript module</a>.
  </div>
  <div class="sixteen wide column">
    <pre class="ace-static-hl"><code>{%include using-hext.mjs.html%}</code></pre>
  </div>
  <div class="sixteen wide column">
    Using hext.js also works in Node:
  </div>
  <div class="sixteen wide column">
    <pre class="ace-static-hl"><code>{%include using-hext.js-node.javascript%}</code></pre>
  </div>
  <div class="sixteen wide column">
    To test whether a specific browser supports hext.js, navigate to <a href="https://hext.thomastrapp.com/hext.js-test">hext.thomastrapp.com/hext.js-test</a>.
  </div>
</div>
