<a class="scrollspy anchor" id="libhext"></a>
<h1 class="ui header">Using libhext in a CMake Project</h1>
<div class="ui doubling top aligned two column grid">
  <div class="seven wide column">
    <p>
      After <a href="#build-hext-from-source">building and installing Hext</a> you can use
      CMake's own FindPackage to add libhext to your project and you should be good to go.
    </p>
  </div>
  <div class="nine wide column">
    <pre class="ace-static-hl"><code>{%include libhext-cmake-example.sh%}</code></pre>
  </div>
  <div style="padding-top:0" class="sixteen wide column">
    Implementation details of libhext are covered in the <a href="/libhext-overview">libhext C++ library overview</a> and <a href="/libhext-documentation">libhext's code documentation</a>.
  </div>
</div>
