<a class="scrollspy anchor" id="hext-for-node"></a>
<h1 class="ui header">Hext for Node</h1>
<div class="ui doubling top aligned two column grid">
  <div class="sixteen wide column">
    Run &nbsp;<b>npm install hext</b>&nbsp;, which installs Hext as
    a node module.
    See the example below for usage instructions.
    Also check out
<a href="https://github.com/html-extract/hext/blob/master/libhext/bindings/nodejs/htmlext.js">htmlext.js</a>
    which is a stripped down JavaScript port of the htmlext command line
    utility.
  </div>
  <div class="sixteen wide column">
    <pre class="ace-static-hl"><code>{%include using-hext-node.javascript%}</code></pre>
  </div>
</div>
