<a class="scrollspy anchor" id="hext-for-php"></a>
<h1 class="ui header">Hext for PHP</h1>
<div class="ui doubling top aligned two column grid">
  <div class="sixteen wide column">
    Build and install <a href="https://github.com/html-extract/hext/tree/master/libhext/bindings/php">Hext for PHP</a>.
    See the example below for usage instructions.
    Also check out
<a href="https://github.com/html-extract/hext/blob/master/libhext/bindings/php/htmlext.php">htmlext.php</a>
    which is a stripped down PHP port of the htmlext command line utility.
  </div>
  <div class="sixteen wide column">
    <pre class="ace-static-hl"><code>{%include using-hext-php.php%}</code></pre>
  </div>
</div>
