<a class="scrollspy anchor" id="hext-for-python"></a>
<h1 class="ui header">Hext for Python</h1>
<div class="ui doubling top aligned two column grid">
  <div class="sixteen wide column operator-list">
    Run &nbsp;<b>pip install hext</b>&nbsp;, which installs Hext as
    a python module and the <a href="#htmlext">htmlext command line utility</a>.
    See the example below for usage instructions.
    Also check out
<a href="https://github.com/html-extract/hext/blob/master/libhext/bindings/python/htmlext.py">htmlext.py</a>
    which is a stripped down Python port of the htmlext command line utility.
  </div>
  <div class="sixteen wide column">
    <pre class="ace-static-hl"><code>{%include using-hext-python.python%}</code></pre>
  </div>
  <div class="sixteen wide column">
    <a href="https://scrapy.org/">Scrapy</a> is one of the most prolific tools when it
    comes to crawling the web. For an example on how to use Hext with Scrapy, checkout <a href="https://github.com/html-extract/hext-scrapy-quotesbot">github.com/html-extract/hext-scrapy-quotesbot</a>.
  </div>
</div>
