<a class="scrollspy anchor" id="hext-for-ruby"></a>
<h1 class="ui header">Hext for Ruby</h1>
<div class="ui doubling top aligned two column grid">
  <div class="sixteen wide column">
    Build and install <a href="https://github.com/html-extract/hext/tree/master/libhext/bindings/ruby">Hext for Ruby</a>.
    See the example below for usage instructions.
    Also check out
<a href="https://github.com/html-extract/hext/blob/master/libhext/bindings/ruby/htmlext.rb">htmlext.rb</a>
    which is a stripped down Ruby port of the htmlext command line utility.
  </div>
  <div class="sixteen wide column">
    <pre class="ace-static-hl"><code>{%include using-hext-ruby.ruby%}</code></pre>
  </div>
</div>
